include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			div.content-cc
			
				//- banner modulos
				div
					img(src='https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/images/jpgs/banner-principal.jpg' alt='curso virtual en telemedicina')
			
				//- menu
				//-+menu
				
				//- lineamientos
				div.lineamientos
					div.title 
						h1 Módulo 0
					div.contents
						div
							a.white-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/Carta-de-Bievenida-curso-Telesalud-AZ.pdf" target='_blank') Carta de bienvenida
							a.white-btn(href="#") Reglas de juego
						
				//- grid modulos
				div.grid-modulos.timeit(data-start="2020-09-01 00:00")
				
					div.modulos.timeit(data-start="2020-09-01 00:00")
						h3 Módulo 1
						p Introducción a la telesalud
						a.pink-btn(href="#") Iniciar sesión Zoom
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-1/Las_oportunidades_de_la_digitalizacion_en_America_Latina_frente_al_Covid-19.pdf" target='_blank') Las oportunidades de la digitalización en América Latina frente al COVID-19
						
					div.modulos.timeit(data-start="2020-09-01 00:00")
						h3 Módulo 2
						p Normatividad en telesalud
						a.pink-btn(href="#") Iniciar sesión Zoom
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-2/DECRETO-538-DEL-12-DE-ABRIL-DE-2020.pdf" target='_blank') Decreto legislativo número 538
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-2/Ley_1419_de_2010.pdf" target='_blank') Ley 1419 de 2010
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-2/Ley_1581_2012.pdf" target='_blank') Ley estatutaria 1581 de 2012
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-2/RESOLUCION-1995-DE-1999.pdf" target='_blank') Resolución número 1995 de 1999
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-2/resolucion-3100-de-2019.pdf" target='_blank') Resolución número 3100 de 2019
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-2/Resolucion-No-839-de-2017.pdf" target='_blank') Resolución número 839 de 2017
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-2/Resolución-No.-2654-del-2019.pdf" target='_blank') Resolución número 2654 de 2019
						
					div.modulos.timeit(data-start="2020-09-01 00:00")
						h3 Módulo 3
						p Modelo de atención en telesalud
						a.pink-btn(href="#") Iniciar sesión Zoom
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-3/DOCUMENTO-TELESALUD-ATA.pdf" target='_blank') Desarrollo de la telesalud en América Latina
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-3/Protocolo-breve-Intervencion-Psicologica-no-presencial_.pdf" target='_blank') Protocolo breve de intervención telepsicológica 2020
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-3/PROTOCOLO-SALUD-MENTAL-EN-EPIDEMIA-.pdf" target='_blank') Protección de la salud mental y atención psicosocial en situaciones de epidemias
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-3/PROTOCOLOS-DE-ATENCION-MEDICA-EN-TELEMEDICINA.pdf" target='_blank') Protección de atención médica en telemedicina
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-3/PSSS04.pdf" target='_blank') Telesalud y telemedicina para prestación de servicios de salud en la pandemia por COVID-19
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-3/Telesalud-Guia-rapida-para-evaluacion-de-pacientes-COVID-19.pdf" target='_blank') COVID-19: Telesalud, una guía rápida para la evaluación de pacientes
						a.pink-line-btn(href="https://ubosquemoodle.unbosque.edu.co/diseno/cursos/telemedicina-2020/PDFs/mod-3/TELESALUD-OMS.pdf" target='_blank') Marco de implementación de un servicio de telemedicina
						
					div.modulos.timeit(data-start="2020-09-01 00:00")
						h3 Módulo 4
						p Tecnología de la telesalud
						a.pink-btn(href="#") Iniciar sesión Zoom
						a.pink-line-btn(href="https://www.himss.org/resources/interoperability-healthcare" target='_blank') Interoperability in HealthCare
						a.pink-line-btn(href="https://seis.es/informe-5/" target='_blank') Informe SEIS, Sociedad Española de Informatica en Salud
						a.pink-line-btn(href="https://socialdigital.iadb.org/es/resources/health/kits-de-herramientas/271/274" target='_blank') Estandares de interoperabilidad en Salud, RACSEL
						a.pink-line-btn(href="https://publications.iadb.org/es/interoperabilidad-para-principiantes-la-base-de-la-salud-digital" target='_blank') Interoperabilidad para principiantes: La base de la salud digital
						a.pink-line-btn(href="https://www.hl7.org/implement/standards/product_brief.cfm?product_id=269" target='_blank') HL7 Functional Model
					
					
					
				
							
	//- footer section			
	+footer
		
							

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			