// -----------------------
// lightbox
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.progress{
		    max-width: 710px;
    margin: auto;
		.bar{
			
		}
	}
	
	.progress-striped .bar{
		background-color: $color_brand_grey;
	}
	
}